<!DOCTYPE html>
<html>
    <head>
        <title>
            To-do App
        </title>
        <style>
            .todolist_section {
                margin-right: 10%;
            }

            .hidden {
                display: none;
            }

            body {
                display: flex;
            }

            a {
                text-decoration: none;
            }

            ul {
                list-style: none;
                padding:0;
                margin: 0;
            }

            li button {
                color: #ff0000;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <section id="todolist_section" class="todolist_section">
            <div>
           <div class = "hidden" id = "list-error"> Something went wrong! </div>
           <div>
               <h1>To-do Lists</h1>
               <div id="todolists">
                   {% for todolist in todolists %}
                   <ul>                        
                       <ol><a href="/{{todolist.id}}">{{todolist.name}}</a></ol>
                       <li> <input class="check-list-completed" data-id="{{todolist.id}}" type="checkbox" {% if todolist.completed %} checked {% endif %} /></li>
                       <li><button type="button" data-id="{{todolist.id}}" class="delete-list-button">&cross;</button></li>
                   </ul>           
                   {% endfor %}
               </div>
           </div>
            </div>
            <form id="list-form" action="/create/list" method="post">
               <input type="text" id="name" name="name"/>               
               <input type="submit" value="Save"/>
           </form>
       </section>      
     
        <section id="todos_section" class="todolist_section">
             <div>
            <div class = "hidden" id = "error"> Something went wrong! </div>
            <div>
                <h1>To-dos</h1>
                <h2 data-id="{{active_list.id}}" id="parent=list-h2">{{active_list.name}}</h2>
                <div id="todos">                   
                    {% for todo in todos %}
                    <ul>                        
                        <ol>{{todo.title}}</ol>
                        <li> <input class="check-completed" data-id="{{todo.id}}" type="checkbox" {% if todo.completed %} checked {% endif %} /> {{todo.description }}</li>
                        <li><button type="button" data-id="{{todo.id}}" class="delete-button">&cross;</button></li>
                    </ul>           
                    {% endfor %}
                </div>
            </div>
             </div>
             <form id="form" action="/create" method="post">
                <input type="text" id="title" name="title"/>
                <input type="text" id="description" name="description"/>
                <input type="submit" value="Save"/>
            </form>
        </section>      
      
        <script>
            buttons = document.querySelectorAll('.delete-button');

            const delete_function = (e) => {
                    const button = e.target
                    const id = button.dataset['id']

                    fetch(`/todos/${id}`, {
                        method: 'DELETE'                       
                    }).then(() => {
                          document.getElementById('error').className = 'hidden';
                          window.location.reload();
                        })
                        .catch((error) => {
                          document.getElementById('error').className = '';
                          console.log(error)
                        })
            }

            for (var i = 0; i < buttons.length; i++){
                b = buttons[i];

                b.onclick = (e) => {
                    delete_function(e)
                }
            }

            const list_buttons = document.querySelectorAll('.delete-list-buttons')

            const delete_function_list = (e) => {
                    const button = e.target
                    const id = button.dataset['id']

                    fetch(`/todolists/${id}`, {
                        method: 'DELETE'                       
                    }).then(() => {
                          document.getElementById('list-error').className = 'hidden';
                          window.location.reload();
                        })
                        .catch((error) => {
                          document.getElementById('list-error').className = '';
                          console.log(error)
                        })
            }

            for (var i = 0; i < list_buttons.length; i++){
                b = list_buttons[i];

                b.onclick = (e) => {
                    delete_function_list(e)
                }
            }

            const update_Completed = (e) => {
                        const checkbox = e.target
                        const check = checkbox.checked                        
                        console.log('id',checkbox.dataset['id'])

                        fetch(`${checkbox.dataset['id']}/set-completed`, {
                            method: 'POST',
                            body: JSON.stringify({
                                'completed': check
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            } 
                        }).then(() => {
                          document.getElementById('error').className = 'hidden';
                        })
                        .catch((error) => {
                          document.getElementById('error').className = '';
                          console.log(error)
                        })
            }

            const update_Completed_list = (e) => {
                        const checkbox = e.target
                        const check = checkbox.checked                        
                        console.log('id',checkbox.dataset['id'])

                        fetch(`${checkbox.dataset['id']}/set-completed-list`, {
                            method: 'POST',
                            body: JSON.stringify({
                                'completed': check
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            } 
                        }).then(() => {
                          document.getElementById('list-error').className = 'hidden';
                        })
                        .catch((error) => {
                          document.getElementById('list-error').className = '';
                          console.log(error)
                        })
            }

            todos = document.querySelectorAll('.check-completed')
            
            for (var i=0; i<todos.length; i++){
                    t = todos[i]
                    
                    t.onchange = (e) => {
                       update_Completed(e)
                    }
                }
            
            todoLists = document.querySelectorAll('.check-list-completed')

            for (var i=0; i<todoLists.length; i++){
                    t = todoLists[i]
                    
                    t.onchange = (e) => {
                        update_Completed_list(e)
                    }
                }
            
            document.getElementById('form').onsubmit = (e) => {
                e.preventDefault();
                fetch('/create_with_json', {
                    method: 'POST',
                    body: JSON.stringify({
                        'title': document.getElementById('title').value,
                        'description': document.getElementById('description').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then((response) => {
                    return response.json()
                }).then((jsonResponse) => {
                    console.log(jsonResponse)
                    div = document.getElementById('todos')
                    ul = document.createElement('ul')
                    ol = document.createElement('ol')
                    li = document.createElement('li')

                    ol.innerHTML = jsonResponse['title']
                    input = document.createElement('input')
                    input.type = 'checkbox'
                    input.className = 'check-completed'
                    input.dataset['id'] = jsonResponse['id']
                    input.checked = jsonResponse['checked']

                    input.onchange = update_Completed(e)

                    li.appendChild(input)
                    li.innerHTML += ` ${jsonResponse['description']}`
                    last_li = document.createElement('li')
                    button = document.createElement('button')
                    button.innerHTML = '&cross;'
                    button.dataset['id'] = jsonResponse['id']
                    button.className = 'delete-button'
                    button.Type = 'button'

                    button.onclick = delete_function(e)

                    last_li.appendChild(button)

                    ul.append(ol,li,last_li)

                    div.appendChild(ul)

                }).catch((error) => {      
                    console.log(error)              
                    document.getElementById('error').className='';
                });
            }
            
            document.getElementById('list-form').onsubmit = (e) => {
                e.preventDefault();
                fetch('/create/list', {
                    method: 'POST',
                    body: JSON.stringify({
                        'name': document.getElementById('name').value                       
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then((response) => {
                    return response.json()
                }).then((jsonResponse) => {
                    console.log(jsonResponse)
                    div = document.getElementById('todolists')
                    ul = document.createElement('ul')
                    ol = document.createElement('ol')
                    li = document.createElement('li')

                    ol.innerHTML = jsonResponse['name']
                    input = document.createElement('input')
                    input.type = 'checkbox'
                    input.className = 'check-list-completed'
                    input.dataset['id'] = jsonResponse['id']
                    input.checked = jsonResponse['checked']

                    input.onchange = update_Completed_list(e)

                    li.appendChild(input)
                   
                    last_li = document.createElement('li')
                    button = document.createElement('button')
                    button.innerHTML = '&cross;'
                    button.dataset['id'] = jsonResponse['id']
                    button.className = 'delete-list-button'
                    button.Type = 'button'

                    button.onclick = delete_function_list(e)

                    last_li.appendChild(button)

                    ul.append(ol,li,last_li)

                    div.appendChild(ul)

                }).catch((error) => {      
                    console.log(error)              
                    document.getElementById('error').className='';
                });
            }
        </script>
    </body>
    </html>       
   
</html>