<!DOCTYPE html>
<html>
    <head>
        <title>
            To-do App
        </title>
        <style>
            .hidden {
                display: none;
            }

            ul {
                list-style: none;
                padding:0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <section>
            <div class = "hidden" id = "error"> Something went wrong! </div>
            <div>
                <h1>To-dos</h1>
                <div id="todos">
                    {% for d in data %}
                    <ul>                        
                        <ol>{{d.title}}</ol>
                        <li> <input class="check-completed" data-id="{{d.id}}" type="checkbox" {% if d.completed %} checked {% endif %} /> {{d.description }}</li>
                    </ul>           
                    {% endfor %}
                </div>
            </div>
        </section>
        <form id="form" action="/create" method="post">
            <input type="text" id="title" name="title"/>
            <input type="text" id="description" name="description"/>
            <input type="submit" value="Save"/>
        </form>
        <script>
            todos = document.querySelectorAll('.check-completed')
            
            for (var i=0; i<todos.length; i++){
                    t = todos[i]
                    
                    t.onchange = (e) => {
                        const checkbox = e.target
                        const check = checkbox.checked                        
                        console.log('id',checkbox.dataset['id'])

                        fetch(`${checkbox.dataset['id']}/set-completed`, {
                            method: 'POST',
                            body: JSON.stringify({
                                'completed': check
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            } 
                        }).then(function() {
                          document.getElementById('error').className = 'hidden';
                        })
                        .catch(function() {
                          document.getElementById('error').className = '';
                        })
                    }
                }


            document.getElementById('form').onsubmit = (e) => {
                e.preventDefault();
                fetch('/create_with_json', {
                    method: 'POST',
                    body: JSON.stringify({
                        'title': document.getElementById('title').value,
                        'description': document.getElementById('description').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then((response) => {
                    return response.json()
                }).then((jsonResponse) => {
                    console.log(jsonResponse)
                    div = document.getElementById('todos')
                    ul = document.createElement('ul')
                    ol = document.createElement('ol')
                    li = document.createElement('li')

                    ol.innerHTML = jsonResponse['title']
                    li.innerHTML = jsonResponse['description']

                    ul.append(ol,li)

                    div.appendChild(ul)

                }).catch((error) => {      
                    console.log(error)              
                    document.getElementById('error').className='';
                });
            }
            
        </script>
    </body>
    </html>       
   
</html>