<!DOCTYPE html>
<html>
    <head>
        <title>
            To-do App
        </title>
    </head>
    <section>
        <div>
            <h1>To-dos</h1>
            {% for d in data %}
            <ul>
                <ol>{{d.title}}</ol>
                <li>{{d.description}}</li>
            </ul>           
            {% endfor %}
        </div>
    </section>
    <form action="/create" method="post">
        <input type="text" name="title"/>
        <input type="text" name="description"/>
        <input type="submit" value="Save"/>
    </form>
</html>